
h1{
    
    font-size: clamp(2.4rem, -0.85rem + 5.7vw, 5.2rem);
  }
  
  h2 .fontbig{
    font-size: clamp(2.2rem, -0.4rem + 3.7vw, 4.5rem);
  }
  
  h3, .fontmd{
    padding: 5px;
    font-size: clamp(1.9rem, -0.5rem + 2.3vw, 2.4rem);
  }
  
  p, .fontsmall{
    font-size: clamp(1.1rem, -0.7rem + 2.3vw, 1.8rem);
  }




@media(min-width: 1500px){

  p, .fontsmall{
    font-size: clamp(1.4rem, -1rem + 2.5vw, 2.2rem);
  }

}




@media(max-width: 1350px){
  h1{
    padding: 2px;
    margin-top: 8px;
    font-size: 6vh;
  }
  
  h2 .fontbig{
    font-size: 5vh;
  }
  
  h3, .fontmd{
    padding: 5px;
    font-size: clamp(1.6rem, -1.3rem + 2vw, 2rem);
  }
  
  p, .fontsmall{
    font-size: clamp(1rem, -1.2rem + 2vw, 1.8rem);
  }

}
